/JavaApplication/nbproject/private/
/WebApplication/nbproject/private/
/WebApplication/build/
/WebApplication/dist/
/JavaApplication/build/
/TeamProject/nbproject/private/
/TeamProject/dist/
/FXProject/nbproject/private/
/FXProject/dist/
/RPi-LCD-JavaProgramming/nbproject/private/
/RPi-LCD-JavaProgramming/build/
/RPi-LCD-JavaProgramming/dist/
/RPi-LCD-JavaFXProgramming/nbproject/private/
/RPi-LCD-JavaFXProgramming/build/
/RPi-LCD-JavaFXProgramming/dist/
/RPi-LCD-JavaFXProgramming1/nbproject/private/
/Hardware/nbproject/private/
/Hardware/dist/
/Hardware/build/
/test/nbproject/private/
/test/build/
/test/dist/
/Network/nbproject/private/
/JavaApplication11/nbproject/private/
/Network/build/
/Network/dist/
/SensingCar/nbproject/private/
/SensingCar/dist/
/SensingCar/build/
/material-dashboard-fx-master/nbproject/private/
/material-dashboard-fx-master/dist/
/material-dashboard-fx-master/build/
/FXMan/nbproject/private/
/JavaFXProject2/nbproject/private/